html, body {
    height: 100%;
}
body{
    background: none;
    padding-top: 170px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
aside {
    flex: 1 0 auto;
    padding-bottom: 40px;
}
footer {
    flex: 0 0 auto;
}
ul.check li{
    list-style-type:none;
}
ul.check li:before{
    content:'\f00c';
    font-family:'FontAwesome';
    margin-left:-20px;
    margin-right:7px;
}
.modal-content{
    background: transparent;
}
.modal-header{
    background-color: #002d44;
    color: #fff;
}
.modal-body{
    max-height: 800px;
    overflow: auto;
    background-color: #fff;
}
.btn-outline-warning-o{
    background-color: #ff9500;
    color: #000;
}
.navbar-custom{
    padding: 0;
    background: transparent;
    -webkit-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    transition: all 900ms ease;
}
.navbar-custom a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;

    text-transform: uppercase;
}
.navbar-custom .navbar-nav{
    width: 100%;
}
.navbar-custom .navbar-nav .nav-item{

}
.navbar-custom-2 {
    opacity: 1;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    margin-top: 0;
    display: block !important;
    background-color: #002d44;
}
.navbar-custom-fixed-color{
    background-color: #002d44;
}
.btn-opacity, .btn-opacity:hover, .btn-opacity:active, .btn-opacity:focus {
    display: inline-block;
    width: 320px;
    text-align: center;
    line-height: 55px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin: 0 13px;
    text-decoration: none;
    font-size: 18px;
}
.main-page{
    padding: 0;
}
.main-page .s1{
    background-image: url(../img/s1_bg.jpg);
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 91px;
}

.main-page .s1 h1 {

    font-size: 72px;
    font-weight: 300;
    letter-spacing: 3.9px;
    text-align: center;
    color: #ffffff;
    margin: 60px 0;
    text-transform: uppercase;
}

.main-page .sites-items{
    text-align: center;
}
.main-page .sites-items .sites-item{
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #fff;
    cursor: pointer;
}
.main-page .sites-items .sites-item .sites-item-caption{
    font-size:18px;
    font-weight: bold;
    padding: 20px 0;
}
.main-page .sites-items .sites-item .sites-item-icon{
    background: url(../img/medal.png) center no-repeat;
}
.main-page .sites-items .sites-item:hover .sites-item-icon{
    background-image: url(../img/medal-check.png);
}
.main-page .sites-items .sites-item:hover{
    border: 3px solid #e0e3e3;
    background-color: #eff3f6;
}
.main-page .sites-items .sites-item .sites-item-icon img{
    visibility: hidden;
}
.main-page .sites-items .sites-item .sites-item-desc{
    padding: 20px 20px;
    padding-bottom: 0px;
}
.main-page .sites-items .sites-item .sites-item-price{
    font-weight: bold;
    font-size:24px;
    padding-bottom: 10px;
}
.main-page .sites-items .sites-item .sites-item-order{
    padding: 10px 20px;
    padding-bottom: 25px;
}
.main-page .sites-items .sites-item .sites-item-order .sites-item-order-btn{
    background-color: #ff9500;
    color: #000;
}
.main-page .s2, .main-page .s3, .main-page .s4, .main-page .s5{
    padding-top: 80px;
    padding-bottom: 91px;
}
.main-page .s2 h2, .main-page .s3 h2, .main-page .s4 h2, .main-page .s5 h2{
    font-size: 48px;
    font-weight: 900;
    line-height: 1.54;
    letter-spacing: 2.6px;
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
    text-transform: uppercase;
}
.main-page .s2 h2{
    color: #000;
}

.main-page .s2 .serivices-list p{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.main-page .s2 .serivices-list img{
    width: 100%;
}

.main-page .s3{
    background-image: url(../img/s3.jpg);
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.9px;
    color: #ffffff;
}

.main-page .s3 .checks .row{
    margin-bottom: 30px;
}

.main-page .s4{
    text-align: center;
}
.main-page .s4 h2{
    color: #000;
}

.main-page .s4 p{
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1.3px;
    text-align: center;
    color: #193651;
    margin-top: 50px;
}
.main-page .s5{
    background-image: url(../img/s5_bg.jpg);
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

footer{
    background-color: #002d44;
    padding: 40px 0;
}

#coockie-box{
    width: 100%;
    padding: 20px 0;
    background-color: #002d44;
    top: auto;
    bottom:0;
    left: 0;
    position: fixed;
    display: none;
}
#coockie-box p{
    color: #fff;

}
#portfolio-carousel{
    position: relative;
}
#portfolio-carousel .carousel-item {
    display: inline-block;
    cursor: pointer;
}
#portfolio-carousel .owl-prev, #portfolio-carousel  .owl-next{
    font-size: 95px !important;
    position: absolute;
    z-index: 9;
    top: 15%;
    left: 0;
    color: #ff9500;
}
#portfolio-carousel  .owl-next{
    left: auto;
    right: 0;
}
#portfolio-carousel .carousel-item-name{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}
#portfolio-carousel .carousel-item-desc{
    display: none;
}
.contacts-page img{
    border-radius: 15px;
}
.default-page .page-title{
    font-size: 32px;
}
.serveces-page h2{
    margin: 60px 0;
}
.serveces-page img{
    margin-bottom: 20px;
}